body { background: #df6bbb; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 38px; display: flex; }
.block-session-0 { color: #70b495; font-size: 18px; margin-bottom: 5px; }
.block-session-1 { color: #12eaff; font-size: 12px; margin-bottom: 5px; }
.block-filter-2 { color: #718fa6; font-size: 12px; margin-bottom: 5px; }
.block-email-3 { color: #540566; font-size: 18px; margin-bottom: 5px; }
.block-router-4 { color: #154a75; font-size: 12px; margin-bottom: 5px; }